@import './mixins';

span {
  @include paragraph;
  font-style: italic;
  text-align: center;
  font-size: 12px;

  a#contact, a#donate {
    color: $periwinkle;
    font-size: 12px;
  }

  a#donate {
    display: block;
  }
}
